.messageinput-container {
    display: flex;
    align-items: center;
    align-self: stretch;
    border-radius: 20px;
    background: var(--noble-black-700, #131619);
    width: 100%;
    height: 48px;
    position: absolute;
    bottom: 0px;
    justify-content: space-around;
}

.messageinput-icon {
    margin: 0px 24px 0px 24px;
}

.messagesend-icon {
    cursor: pointer;
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--noble-black-600, rgba(26, 29, 33, 0.80));
}

.messagesend-icon:hover {
    background: var(--noble-black-600, #363A3D);
}

.messagesend-icon:active {
    background: var(--noble-black-600, #686B6E);
}


.messagesend-icon path {
    stroke: #CDCECF;
}

.message-input {
    color: var(--noble-black-300, #9B9C9E);
    background: var(--noble-black-700, #131619);
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-right: 24px;
    width: 82%;
}

.commendstyle-btns {
    display: flex;
    justify-content: space-between;
}

.commendstyle-container {
    position: absolute;
    bottom: 48px;
    width: 100%;
    padding: 0px 20px 0px 20px;
}

.commendstyle-container > h1 {
    color: var(--noble-black-0, #FFF);
    /* Heading/XS/Bold */
    font-size: 20px;
    font-weight: 550;
    line-height: 32px;
}