.topbar-container {
    position: relative;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 20px;
    background: var(--noble-black-600, rgba(26, 29, 33, 0.80));
    width: 100%;
}

.topbar-header {
    margin: 0px;
    padding: 0px;
    display: flex;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid var(--noble-black-700, #131619);
}

.topbar-name {
    margin: 0px;
    padding: 0px;
}

.app-name {
    margin: 0px;
    color: var(--noble-black-0, #FFF);
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}

.app-explain {
    margin: 0px;
    color: var(--noble-black-300, #9B9C9E);
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.15px;
}

.topbar-option {
    display: flex;
    padding: 8px 16px 8px 16px;
}

.topbar-option > p {
    margin: 0px;
    padding: 0px;
    color: var(--noble-black-400, #686B6E);
/* Body/M/SemiBold */
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.15px;
    margin-left: 8px;
}

.topbar-navigation {
    display: flex;
    margin:  0px;
}

.topbar-tab1 {
    margin: 24px 0px 24px 24px;
}

.topbar-tab1 > a > span {
    fill: none;
}

.topbar-tab2 {
   padding: 24px;
   position: relative;
}

.topbar-tab2 > a {
    color: var(--stem-green-600, #9AD37F);
    text-align: center;
    /* Body/L/Medium */
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    display: flex;
    text-decoration: none;
}

.topbar-navigation > .topbar-tab1 > a{
    text-decoration: none;
    font-size: 14px;
    color: var(--noble-black-100, #E8E9E9);
    font-weight: 400;
    line-height: 20px;
    display: flex;
}

.tab1-icon {
    margin: 0px 12px 0px 12px;
    filter: drop-shadow(0px 4px 6px rgba(182, 240, 156, 0.16)) drop-shadow(0px 10px 15px rgba(182, 240, 156, 0.16));
}

.tab1-icon path {
    stroke: #B6F09C;
}

.tab2-icon {
    margin: 0px 8px 0px 12px;
    box-shadow: 0px 4px 6px -4px rgba(104, 107, 110, 0.16), 0px 10px 15px -3px rgba(104, 107, 110, 0.16);
}

.bottom-line1 {
    position: absolute;
    bottom: 0;
    margin-left: 40px;
    width: 112px;
    height: 4px;
    border-radius: 4px 4px 0px 0px;
    background: var(--stem-green-500, #B6F09C);
    box-shadow: 0px 4px 6px -4px rgba(182, 240, 156, 0.16), 0px 10px 15px -3px rgba(182, 240, 156, 0.16);
}

.bottom-line2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px 4px 0px 0px;
    background: var(--stem-green-500, #B6F09C);
    box-shadow: 0px 4px 6px -4px rgba(182, 240, 156, 0.16), 0px 10px 15px -3px rgba(182, 240, 156, 0.16);
}