.peraiview-container {
    width: 100%;
}

.peraiview-cards-container {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.peraiview-cards-container > .peraiview-cards-header {
    color: var(--noble-black-0, #FFF);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 163.636% */
    margin-left: 10%;
    margin-bottom: 60px;
}

.peraiview-cards-container > .peraiview-cards-header > label {
    text-align: left;
}

.peraiview-cards-container > .peraiview-cards-header > .status {
    width: 18%;
}

.peraiview-cards-container > .peraiview-cards-header > .topic {
    width: 28%;
}
.peraiview-cards-container > .peraiview-cards-header > .type {
    width: 26%;
}
.peraiview-cards-container > .peraiview-cards-header > .date {
    width: 10%;
}